:root {
    --theme-colour: #2196F3;

    --text-primary: #212121;
    --text-secondary: #757575;
    
    --primary-font: "Roboto";
    --secondary-font: "Releway";
}

body {font-family: var(--primary-font);}

ul {list-style: none;}

a {text-decoration: none;}

address {font-style: normal;}



/*Старт стилизирования*/

    .web-style{
        color: #2196F3;
    }

    
    .logo{
        font-family: var(--secondary-font), sans-serif;
        font-style: normal;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        }

        .nav-link:hover,
        .nav-link:focus{
            color: var(--theme-colour);
         }